.custom-container {
    top: 25%;
    left: 10%;
    width: 40%;
    max-width: 300px;
    padding: 24px;
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    background: white;
    opacity: .8;
}